<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Verify Email</title>
    <style>
      :root {
        --main-color-black: #000929;
        --gray-50: #f7f9fa;
        --gray-100: #edf2f5;
        --gray-200: #d3dde3;
        --gray-300: #bac8d1;
        --gray-400: #8d9eb0;
        --gray-500: #64748b;
        --gray-600: #536580;
        --gray-700: #384a69;
        --gray-800: #243454;
        --gray-900: #142140;
      }
      .code-container {
        width: 60%;
        display: flex;
        gap: 1rem;
        height: 100%;
      }
      .code-box {
        border: 1px solid #7065f0;
        border-radius: 8px;
        padding: 4px;
        font-size: 32px;
        width: 100%;
        height: 100%;
        line-height: 3;
        text-align: center;
        font-weight: 700;
      }

      .social-icons {
        text-align: center;
        color: var(--gray-500);
      }
      .footer-menu {
        text-align: center;
        margin-top: 1rem;
        color: var(--gray-50);
      }
    </style>
  </head>
  <body style="font-family: 'Plus Jakarta Sans', sans-serif">
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
      width="100%"
      style="max-width: 900px; margin: 2rem auto"
    >
      <tr>
        <td>
          <img
            src="https://res.cloudinary.com/dwaaixvxk/image/upload/v1694205989/logo_f2uyh9.png"
            alt=""
            style="width: 107px; height: 32px"
          />
          <h3
            style="
              font-size: 24px;
              font-weight: 700;
              line-height: 34px;
              margin-top: 2rem;
            "
          >
            Confirm Verification Code
          </h3>
          <p>Hi <%= name %>,</p>
          <p>This is your verification code:</p>
          <table
            cellpadding="0"
            cellspacing="0"
            border="0"
            style="width: 100%; height: 100%"
          >
            <tr>
              <td>
                <section class="code-container">
                  <span class="code-box"><%= otp[0] %></span>
                  <span class="code-box" style="margin-left: 10px"
                    ><%= otp[1] %></span
                  >
                  <span class="code-box" style="margin-left: 10px"
                    ><%= otp[2] %></span
                  >
                  <span class="code-box" style="margin-left: 10px"
                    ><%= otp[3] %></span
                  >
                  <span class="code-box" style="margin-left: 10px"
                    ><%= otp[4] %></span
                  >
                </section>
              </td>
            </tr>
          </table>
          <p>
            Use the above one-time passcode to complete your authentication. The
            verification code will be valid for <b>48 hours</b>. Please do not
            share this code with anyone.
          </p>
          <p>If you didn't initiate this, kindly disregard this email.</p>
          <div class="regards">
            <div>Thanks,</div>
            <div>Porchplus Team</div>
          </div>
          <table
            cellpadding="0"
            cellspacing="0"
            border="0"
            style="width: 100%; margin: 50px auto"
          >
            <tr>
              <td>
                <div class="social-icons">
                  <img
                    src="https://res.cloudinary.com/dwaaixvxk/image/upload/v1694205989/twitter_ijjnig.png"
                    alt=""
                  />
                  <img
                    src="https://res.cloudinary.com/dwaaixvxk/image/upload/v1694205989/facebook_dshwlj.png"
                    alt=""
                    style="margin-left: 20px"
                  />
                  <img
                    src="https://res.cloudinary.com/dwaaixvxk/image/upload/v1694205989/instagram_kjbbxb.png"
                    alt=""
                    style="margin-left: 20px"
                  />
                </div>
                <div class="footer-menu">
                  <a href="<%= link.unsubscribe %>" style="color: #536580">Unsubscribe</a>
                  <span style="color: #536580; margin: 0 5px">|</span>
                  <a href="<%= link.terms %>" style="color: #536580">Privacy Policy</a>
                  <span style="color: #536580; margin: 0 5px">|</span>
                  <a href="<%= link.contact %>" style="color: #536580">Contact Support</a>
                </div>
                <div style="text-align: center; color: #536580;">
                  <p>A25, Admiralty Homes Estate, Igbo Efon, Lekki, Lagos</p>
                  <p>© 2022 Porchplus Inc.</p>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
